<header class="masthead"><br><br><br><br><br><br><br><br>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Community for everyone.</h1>
        <p class="lead">Subscribe to your community today.</p>
        
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Who are the hummingbirds?</h2>
    <p>We are community builders...<br>
      We are........<br>
      We are........<br>
    </p>
  </div>
</section>
